{% load static %}
{% load widget_tweaks %}

<head>
    <meta charset="UTF-8">
    <title>Sample_GoogleMap</title>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCaom_rjIPyshAVdOVd4XzqVHGCkW6JHd0&language=ja"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <div class="form-area">
        <h4 class="welcome">近場の飲食店を検索しよう</h1>
        <form class='genre_area_choice_form' action="{% url 'map' %}" method="post">
            {% csrf_token %}
            {% if data_is_none %}
            {{ data_is_none }}
            {% endif %}
    
            {% for field in form%}
                <div class='form-group'>
                    <label for={{ field.id_for_label }}>{{ field.label }}</label>
                    {{ field|add_class:'form-select' }}
                </div>
            {% endfor %}
            <input type="hidden" id='current' name='current'></br>
            <input type="submit" value="検索">
        </form>
    </div>

    <div id="status"></div>

    <script type="text/javascript" src="{% static 'js/geolocation.js' %}"></script>

</body>